<div class="card">
  <p-menubar [model]="menubarItems">
    <ng-template pTemplate="start">
      <img alt="News Website Logo" src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40"
           class="mr-2"/>
    </ng-template>
    <ng-template pTemplate="end">
      <i class="pi pi-sun" style="font-size: 1.5rem"></i>
      <p-inputSwitch [(ngModel)]="checked" (click)="changeTheme(checked)"></p-inputSwitch>
      <i class="pi pi-moon" style="font-size: 1.5rem"></i>
    </ng-template>
  </p-menubar>
</div>
