/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  margin: auto;
  width: 100vw;
  min-height: 100wh;
}
